@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #D6D6D6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
}

.ant-menu-item-selected {
  background-color: #F8F8F8 !important;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Cor da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

/* Cor da barra de rolagem quando está sendo ativa */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
