@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #D6D6D6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
}

.ant-menu-item-selected {
  background-color: #F8F8F8 !important;
}
